このファイルについて
- about
    - 検索履歴データから館山道・関越道の各区間の5分単位の検索数を計算する
- author: 松永
- Input
    - ../Input_processed_data/search_records/csv202xxx/*
- Output
    - 時間指定あり検索
        - ../Input_processed_data/search_count/search-count_{tateyama or kannetsu}.csv
    - 時間指定なし検索
        - ../Input_processed_data/search_count/search-count_{tateyama or kannetsu}_unspecified.csv"

In [1]:
import datetime as dt
import os
import pickle
import time
from typing import Dict, List, Optional, Set, Tuple

import networkx as nx
import numpy as np
import pandas as pd
import cudf
# import warnings
# warnings.simplefilter('ignore')

In [2]:
# data directory
DATA_DIR = '../../Input_processed_data'

# IC, 道路情報 csv
IC_CSV = f'{DATA_DIR}/road_master/ic_preprocessed.csv'
IC_NET_CSV = f'{DATA_DIR}/road_master/220303-doronet_ic.csv'
IC_SUBNET_CSV = f'{DATA_DIR}/road_master/icnet_sub.csv'

# 検索ログ csv
SEARCH_LOG_DIR = lambda month: f'{DATA_DIR}/simple_search_records/csv{month}'
SEARCH_LOG_CSV = lambda date: f'{SEARCH_LOG_DIR(date[:6])}/record_{date}.csv'

# 準備

## 道路構造データの読み込み

In [3]:
# モジュール内で前処理済み
df_ic = pd.read_csv(IC_CSV, dtype={'ic_code': str})
df_icnet = pd.read_csv(IC_NET_CSV, dtype={'start_code': str, 'end_code': str, 'road_code': str})
sub_icnet = pd.read_csv(IC_SUBNET_CSV, dtype={'start_code': str, 'end_code': str, 'road_code': str})

code2name = dict(zip(df_ic['ic_code'], df_ic['ic_name']))
name2code = {v: k for k, v in code2name.items()}

ic_graph = nx.from_pandas_edgelist(
    df_icnet, source='start_code', target='end_code',
    edge_attr=['distance', 'road_code', 'direction'], create_using=nx.DiGraph())

In [4]:
# 区間ごとの制限速度を格納したテーブル, Map を作成
df_limits = sub_icnet.loc[:, ['start_code', 'end_code', 'start_name', 'end_name', 'road_code', 'limit']]
limit_dict = {
    (s_code, e_code): lim for s_code, e_code, lim in df_limits.loc[:, ['start_code', 'end_code', 'limit']].values
}

In [5]:
ic_nodes_set: set = set(code2name.keys())

In [6]:
# トラカンデータが持つ区間のdataframe
tc_segments = pd.read_pickle(f'./traffic_counter_segments.pkl')
tc_segments_set = set(
    [tuple(segment) for segment in tc_segments.loc[:, ['start_code', 'end_code']].values]
)

## 最短経路オブジェクト`route_dict`の読み込み・書き出し

In [7]:
fname = './route_dict.pkl'

if os.path.exists(fname): # 経路マップがすでに存在しているとき、それを使う
    with open(fname, 'rb') as f:
        print('Loading IC Routes...')
        route_dict = pickle.load(f)
else: # 存在していなければ計算してバイナリで保存
    print('Calculating IC Routes...')
    route_dict = dict(nx.all_pairs_dijkstra_path(ic_graph, weight='distance'))
    
    with open(fname, 'wb') as f:
        pickle.dump(route_dict, f)
print('Finished.')

Loading IC Routes...
Finished.

In [8]:
! du -h ./route_dict.pkl

3.4G	./route_dict.pkl

## 省略するICの集合を読み込む

In [9]:
with open('small_ic.pkl', 'rb') as f:
    df_small_ic = pickle.load(f)

small_ic_set = set(df_small_ic.ic_code)

# Functions

## 経路計算

In [10]:
def __get_route(
    src: str, dest: str, route_dict: Dict[str, Dict[str, List[str]]]
) -> Optional[List[str]]:
    if not (src in ic_nodes_set and dest in ic_nodes_set):
        return []
    try:
        path = route_dict[src][dest]
        return path
    except: # 経路が存在しない, もしくはノードがグラフ上に存在しない場合
        return []

In [11]:
def get_route(
    src: str, 
    dest: str, 
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set(),
) -> List[str]:
    '''
    ic_graph上で出発地から目的地までの経路を得る関数

    Parameters
    --------------
    src: 出発ICコード
    dest: 目的ICコード
    '''
    path = __get_route(src, dest, route_dict=route_dict)
    
    if len(excluded_ic_set) > 0:
        path = [ic for ic in path if ic not in excluded_ic_set]
    return path

In [12]:
def get_route_with_time(
    src: str,
    dest: str,
    spec_datetime: dt.datetime,
    spec_type: int,
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set(),
) -> List[Tuple[str, dt.datetime]]:
    '''
    ic_graph上で出発地（src_name）から目的地（target_name）までの予想通過時刻付き経路を得る関数
    '''
    # 関越道・館山道 以外の道路の移動速度は80km/hと仮定する
    DEFAULT_SPEED = 80
    
    path = __get_route(src, dest, route_dict=route_dict)

    elapsed = dt.timedelta()
    elapsed_time_list = [elapsed]
    for i, (start, end) in enumerate(zip(path, path[1:])):
        dist = ic_graph[start][end]['distance']
        limit_speed = limit_dict.get((start, end), DEFAULT_SPEED)
        
        # 所要時間を積算
        td = dt.timedelta(hours = dist / limit_speed)
        elapsed += td
        elapsed_time_list.append(elapsed)
    
    if spec_type == 1:
        time_list = [spec_datetime + td for td in elapsed_time_list]
    elif spec_type == 2:
        time_list = [spec_datetime - td for td in elapsed_time_list[::-1]]
    else:
        time_list = [spec_datetime + td for td in elapsed_time_list]
    
    result = list(zip(path, time_list))
    if len(excluded_ic_set) > 0:
        result = [(ic, time) for (ic, time) in result if ic not in excluded_ic_set]
    return result

## 検索ログの読み込み

In [13]:
def str2date(date: str, format: str = '%Y%m%d') -> dt.date:
    return dt.datetime.strptime(date, '%Y%m%d').date()

In [14]:
def get_log(date: str) -> cudf.DataFrame:
    type_map = {
        'datetime': np.datetime64,
        'start_code': 'category',
        'end_code': 'category',
        'spec_datetime': np.datetime64,
        'spec_type': 'category',
        'car_type': 'category'
    }
    if not os.path.exists(SEARCH_LOG_CSV(date)):
        return cudf.DataFrame(columns=type_map.keys())

    df = pd.read_csv(SEARCH_LOG_CSV(date)).astype(type_map)
    df = df.loc[
        (df.start_code.isin(ic_nodes_set)) &
        (df.end_code.isin(ic_nodes_set))
    ]
    return cudf.from_pandas(df)

In [15]:
def get_past_logs(date: str, periods: int, include_target: bool = False) -> cudf.DataFrame:
    '''
    指定日(target_date)から過去数日分の検索履歴データを取得する関数

    Parameters
    --------------
    date: 混雑度算出の対象となる日付（文字列 or リスト)
    periods: 過去何日分の履歴を参照するか
    include_target: dateをデータに含めるかどうか
    '''
    # 参照すべき全日付のiterableを生成
    if include_target:
        dt_range = pd.date_range(end=date, periods=periods)
    else:
        dt_range = pd.date_range(end=date, periods=periods+1, closed='left')

    DAYS = [d.strftime('%Y%m%d') for d in dt_range]

    df_specified = cudf.DataFrame()
    for d in DAYS:
        df = get_log(d)
        if len(df) == 0:
            continue
        
        series_spec_date: pd.Series = df.spec_datetime.to_pandas().map(lambda dt: dt.date())
        _df_specified = df.loc[series_spec_date == str2date(date)]
        df_specified = cudf.concat([df_specified, _df_specified], ignore_index=True)
    df_specified.reset_index(drop=True, inplace=True)
    
    if len(df_specified) == 0:
        df_specified = cudf.DataFrame(columns=df.columns)
    return df_specified

In [16]:
def get_unspecified_log(date: str) -> cudf.DataFrame:
    '''
    検索履歴全体から時間指定なしの検索のみを得る関数
    '''
    ALLOWED_MINUTE_LAG = 15
    
    df = get_log(date)
    # 検索日時と指定日時の差を秒単位で算出
    t_diff = abs((df.datetime - df.spec_datetime) / np.timedelta64(1, 's'))
    
    # 事前に定義した時間差（=15分）より検索日時と指定日時の差が少ないレコードのみを抽出
    df_unspecified = df.loc[t_diff < ALLOWED_MINUTE_LAG * 60].reset_index(drop=True)
    return df_unspecified

## 検索ログのマッピング

In [17]:
def map_search_to_road_network(
    df: cudf.DataFrame,
    route_dict: Dict[str, Dict[str, List[str]]],
    excluded_ic_set: Set[str] = set()
) -> cudf.DataFrame:
    '''
    検索ログから各道路区間の予想通過時刻を計算する
    '''
    start_code_list = []
    end_code_list = []
    passing_time_list = []
    
    columns = ['start_code', 'end_code', 'spec_datetime', 'spec_type']
    for (src, dest, spec_datetime, spec_type) in df.loc[:, columns].to_pandas().values:
        path = get_route_with_time(
            src, dest, spec_datetime, spec_type, 
            route_dict=route_dict, 
            excluded_ic_set=excluded_ic_set
        )
        for i, (start, end) in enumerate(zip(path, path[1:])):
            s_code, e_code = start[0], end[0]
            s_ptime = start[-1]
            
            if ic_graph[s_code][e_code]['road_code'] not in target_road_code_set:
                break
            
            start_code_list.append(s_code)
            end_code_list.append(e_code)
            passing_time_list.append(s_ptime)
            
        if spec_type not in {1, 2} and len(path) > 0:
            with open('./error_spec_type_records.csv', 'a') as f:
                print(f'{s_ptime},{src},{dest},{spec_datetime},{spec_type}', file=f)
                


    return cudf.DataFrame({
        'start_code': start_code_list,
        'end_code': end_code_list,
        'passing_time': passing_time_list,
    }).astype({
        'start_code': 'category',
        'end_code': 'category'
    })

In [18]:
def aggregate_search_count(df: cudf.DataFrame, timeslice: str = '5min') -> cudf.DataFrame:
    # 検索量として積算される対象となるカラムを付与
    result = df.assign(search=1)
    
    # timesliceでサンプリングし、検索量の和を取る
    result = (result
              .set_index('passing_time')
              .to_pandas()
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g['search'].resample(timeslice).sum())
              .reset_index())
    return cudf.from_pandas(result)

# 検索数の作成

## 時間指定あり

In [3]:
period_blocks = [
    # ('20210402', '20210630'),
    # ('20210701', '20210930'),
    # ('20211001', '20211231'),
    # ('20220101', '20220331'),
    # ('20220401', '20220630'),
    # ('20220701', '20220930'),
    # ('20221001', '20221231'),
    # ('20230101', '20230331'),
    # ('20230401', '20230630'),
    # ('20230701', '20230930'),
    # ('20231001', '20231231'),
    # ('20240101', '20240331'),
    # ('20240401', '20240506'),
    ('20240507', '20240831'),
]

In [20]:
past_periods = 7
timeslice = '5min'

In [22]:
for start_date, end_date in period_blocks:
    print('='*40, f'{start_date} -> {end_date}', '='*40)
    
    DAYS: List[str] = [
        d.strftime('%Y%m%d') for d in pd.date_range(start_date, end_date, freq='1D')
    ]
    
    df_search = cudf.DataFrame()
    for i, date in enumerate(DAYS):
        s = time.time()
        
        df = get_past_logs(date, periods=past_periods)
        
        df_mapped = map_search_to_road_network(
            df, route_dict, excluded_ic_set=small_ic_set
        )
        df_mapped = df_mapped.loc[
            df_mapped.loc[:, ['start_code', 'end_code']].to_pandas().apply(
                lambda segment: tuple(segment) in tc_segments_set, axis=1
            )
        ].reset_index(drop=True)
        
        _df_search = aggregate_search_count(df_mapped, timeslice)
        _df_search = cudf.from_pandas(
            _df_search.set_index('passing_time').to_pandas().loc[date]
        ).reset_index()

        print(f'{date} | {len(_df_search)} records ({time.time() - s:.3f} sec)')

        df_search = cudf.concat([df_search, _df_search], ignore_index=True)

    df_search.reset_index(inplace=True, drop=True)
    OUTPUT_FILE = f'./search_count/search-count_specified_{start_date}-{end_date}.csv'
    df_search.to_pandas().to_csv(OUTPUT_FILE, index=False)

======================================== 20231001 -> 20231231 ========================================
20231001 | 23040 records (44.858 sec)
20231002 | 22998 records (28.883 sec)
20231003 | 23039 records (21.484 sec)
20231004 | 22938 records (25.599 sec)
20231005 | 23003 records (30.324 sec)
20231006 | 23040 records (52.718 sec)
20231007 | 23040 records (92.813 sec)
20231008 | 23013 records (61.426 sec)
20231009 | 23000 records (41.731 sec)
20231010 | 23040 records (34.777 sec)
20231011 | 23032 records (31.604 sec)
20231012 | 23040 records (25.117 sec)
20231013 | 23040 records (43.544 sec)
20231014 | 23040 records (62.643 sec)
20231015 | 23025 records (40.475 sec)
20231016 | 23040 records (42.361 sec)
20231017 | 23039 records (23.844 sec)
20231018 | 23034 records (29.595 sec)
20231019 | 23011 records (28.092 sec)
20231020 | 23040 records (38.007 sec)
20231021 | 23040 records (71.533 sec)
20231022 | 23039 records (49.722 sec)
20231023 | 23038 records (33.119 sec)
20231024 | 23040 records (29.142 sec)
20231025 | 22937 records (28.379 sec)
20231026 | 23037 records (27.958 sec)
20231027 | 23040 records (36.944 sec)
20231028 | 23040 records (68.115 sec)
20231029 | 23025 records (38.907 sec)
20231030 | 22980 records (30.461 sec)
20231031 | 23024 records (27.300 sec)
20231101 | 23040 records (28.249 sec)
20231102 | 23040 records (39.741 sec)
20231103 | 23040 records (101.701 sec)
20231104 | 23015 records (49.856 sec)
20231105 | 23040 records (42.332 sec)
20231106 | 23040 records (31.248 sec)
20231107 | 22984 records (29.432 sec)
20231108 | 22980 records (21.731 sec)
20231109 | 23001 records (30.237 sec)
20231110 | 23039 records (33.171 sec)
20231111 | 23040 records (63.125 sec)
20231112 | 23031 records (39.539 sec)
20231113 | 23037 records (29.281 sec)
20231114 | 23024 records (25.951 sec)
20231115 | 23036 records (28.313 sec)
20231116 | 23033 records (25.296 sec)
20231117 | 23032 records (31.603 sec)
20231118 | 23040 records (54.613 sec)
20231119 | 23035 records (34.747 sec)
20231120 | 23039 records (28.081 sec)
20231121 | 22967 records (28.141 sec)
20231122 | 23040 records (23.022 sec)
20231123 | 23035 records (56.207 sec)
20231124 | 23040 records (41.229 sec)
20231125 | 23040 records (46.347 sec)
20231126 | 23024 records (34.756 sec)
20231127 | 22992 records (26.876 sec)
20231128 | 23025 records (23.001 sec)
20231129 | 23033 records (21.585 sec)
20231130 | 23020 records (17.391 sec)
20231201 | 22998 records (27.196 sec)
20231202 | 23038 records (40.491 sec)
20231203 | 22984 records (29.196 sec)
20231204 | 23010 records (24.178 sec)
20231205 | 22333 records (20.582 sec)
20231206 | 23033 records (13.184 sec)
20231207 | 22962 records (22.621 sec)
20231208 | 23040 records (27.036 sec)
20231209 | 23040 records (42.157 sec)
20231210 | 23011 records (22.429 sec)
20231211 | 23039 records (23.542 sec)
20231212 | 23031 records (18.956 sec)
20231213 | 23039 records (14.154 sec)
20231214 | 22954 records (18.378 sec)
20231215 | 23037 records (23.065 sec)
20231216 | 23040 records (30.957 sec)
20231217 | 22940 records (28.319 sec)
20231218 | 22806 records (22.180 sec)
20231219 | 22352 records (13.150 sec)
20231220 | 22997 records (21.694 sec)
20231221 | 23024 records (19.304 sec)
20231222 | 23040 records (17.183 sec)
20231223 | 23039 records (36.625 sec)
20231224 | 23005 records (25.445 sec)
20231225 | 22920 records (22.317 sec)
20231226 | 23035 records (17.370 sec)
20231227 | 23030 records (26.392 sec)
20231228 | 23040 records (43.557 sec)
20231229 | 23040 records (57.759 sec)
20231230 | 23040 records (51.705 sec)
20231231 | 23040 records (31.799 sec)

In [23]:
!head -n5 "$OUTPUT_FILE"

passing_time,start_code,end_code,search
2023-10-01 00:00:00,1040013,1040016,24
2023-10-01 00:05:00,1040013,1040016,2
2023-10-01 00:10:00,1040013,1040016,1
2023-10-01 00:15:00,1040013,1040016,3

In [25]:
!tail -n5 "$OUTPUT_FILE"

2023-12-31 23:35:00,1800106,1800111,0
2023-12-31 23:40:00,1800106,1800111,0
2023-12-31 23:45:00,1800106,1800111,0
2023-12-31 23:50:00,1800106,1800111,0
2023-12-31 23:55:00,1800106,1800111,0

## 時間指定なし

In [22]:
period_blocks = [
    # ('20210402', '20210630'),
    # ('20210701', '20210930'),
    # ('20211001', '20211231'),
    # ('20220101', '20220331'),
    # ('20220401', '20220630'),
    # ('20220701', '20220930'),
    # ('20221001', '20221231'),
    # ('20230101', '20230331'),
    # ('20230401', '20230630'),
    # ('20230701', '20230930'),
    # ('20231001', '20231231'),
    # ('20240101', '20240331'),
    # ('20240401', '20240506'),
    ()
]

In [23]:
def aggregate_search_count(df: cudf.DataFrame) -> cudf.DataFrame:
    # 検索量として積算される対象となるカラムを付与
    result = df.assign(search=1)
    
    # timesliceでサンプリングし、検索量の和を取る
    result = (result
              .set_index('passing_time')
              .to_pandas()
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g['search'].sum())
              .reset_index()
              .rename(columns={0: 'search'}))
    return cudf.from_pandas(result)

In [24]:
def shift_unspecified_search_count(df: pd.DataFrame) -> pd.DataFrame:
    '''
    時間指定なし検索を1日後ろにシフトする
    '''
    SHIFT_DAYS = 1
    
    result = (df.set_index('search_date')
              .groupby(['start_code', 'end_code'])
              .apply(lambda g: g.search.shift(SHIFT_DAYS))
               # shift後にpivot_tableっぽくなってしまう（通常はpd.Series）ため、特別に処理
              .pipe(lambda _df: _df.stack().rename('search') if not isinstance(_df, pd.Series) else _df)
              .reset_index()
              .sort_values(['search_date', 'start_code', 'end_code'])
              .reset_index(drop=True)
              .loc[:, ['search_date', 'start_code', 'end_code', 'search']])
    return result

In [25]:
def generate_date_list_from_1day_before(start_date, end_date):
    '''
    start_dateの1日前からend_dateまでの日付リストを生成する
    '''
    _start = pd.to_datetime(start_date) - pd.Timedelta(days=1)
    _end = pd.to_datetime(end_date)
    
    date_list: List[str] = [
        date.strftime('%Y%m%d') for date in pd.date_range(_start, _end, freq='1D')
    ]
    return date_list

In [26]:
for start_date, end_date in period_blocks:
    print('='*40, f'{start_date} -> {end_date}', '='*40)

    DAYS = generate_date_list_from_1day_before(start_date, end_date)
    
    df_search = cudf.DataFrame()
    for i, date in enumerate(DAYS):
        s = time.time()
        
        df = get_unspecified_log(date)
        
        df_mapped = map_search_to_road_network(
            df, route_dict, excluded_ic_set=small_ic_set
        )
        df_mapped = df_mapped.loc[
            df_mapped.loc[:, ['start_code', 'end_code']].to_pandas().apply(
                lambda segment: tuple(segment) in tc_segments_set, axis=1
            )
        ].reset_index(drop=True)
        
        _df_search = aggregate_search_count(df_mapped)
        _df_search = (_df_search
                      .assign(search_date=str2date(date).strftime('%Y-%m-%d'))
                      .loc[:, ['search_date', 'start_code', 'end_code', 'search']])

        print(f'{date} [{time.time() - s:.3f} sec]')

        df_search = cudf.concat([df_search, _df_search], ignore_index=True)
    
    df_search_shifted = shift_unspecified_search_count(df_search.to_pandas())

    OUTPUT_FILE = f'./search_count/search-count_unspecified_{start_date}-{end_date}.csv'
    df_search_shifted.to_csv(OUTPUT_FILE, index=False)

======================================== 20231001 -> 20231231 ========================================
20230930 [251.880 sec]
20231001 [157.561 sec]
20231002 [124.572 sec]
20231003 [173.768 sec]
20231004 [214.526 sec]
20231005 [170.424 sec]
20231006 [136.277 sec]
20231007 [124.961 sec]
20231008 [130.987 sec]
20231009 [130.516 sec]
20231010 [137.944 sec]
20231011 [113.512 sec]
20231012 [73.810 sec]
20231013 [112.181 sec]
20231014 [129.665 sec]
20231015 [123.401 sec]
20231016 [132.482 sec]
20231017 [116.800 sec]
20231018 [123.116 sec]
20231019 [123.924 sec]
20231020 [120.303 sec]
20231021 [111.830 sec]
20231022 [112.341 sec]
20231023 [111.482 sec]
20231024 [123.755 sec]
20231025 [111.501 sec]
20231026 [99.570 sec]
20231027 [110.472 sec]
20231028 [115.440 sec]
20231029 [119.974 sec]
20231031 [152.805 sec]
20231101 [141.833 sec]
20231102 [134.734 sec]
20231103 [123.683 sec]
20231104 [112.474 sec]
20231105 [113.433 sec]
20231106 [145.247 sec]
20231107 [126.319 sec]
20231108 [130.744 sec]
20231109 [126.439 sec]
20231110 [142.079 sec]
20231111 [123.064 sec]
20231112 [136.769 sec]
20231113 [132.268 sec]
20231114 [121.098 sec]
20231115 [133.241 sec]
20231116 [139.141 sec]
20231117 [103.579 sec]
20231118 [100.299 sec]
20231119 [126.000 sec]
20231121 [148.001 sec]
20231122 [138.954 sec]
20231123 [128.608 sec]
20231124 [139.023 sec]
20231125 [143.148 sec]
20231126 [116.995 sec]
20231127 [130.394 sec]
20231128 [138.695 sec]
20231129 [143.190 sec]
20231130 [131.547 sec]
20231201 [126.694 sec]
20231202 [89.098 sec]
20231203 [82.942 sec]
20231204 [88.909 sec]
20231205 [95.311 sec]
20231206 [99.436 sec]
20231207 [88.075 sec]
20231208 [94.560 sec]
20231209 [80.565 sec]
20231210 [72.162 sec]
20231211 [85.099 sec]
20231212 [78.888 sec]
20231213 [84.345 sec]
20231214 [77.224 sec]
20231215 [84.406 sec]
20231216 [81.542 sec]
20231217 [68.406 sec]
20231218 [88.728 sec]
20231219 [87.101 sec]
20231220 [86.387 sec]
20231221 [89.411 sec]
20231222 [80.517 sec]
20231223 [77.682 sec]
20231224 [74.341 sec]
20231225 [82.503 sec]
20231226 [85.660 sec]
20231227 [78.835 sec]
20231228 [83.854 sec]
20231229 [81.260 sec]
20231230 [76.243 sec]
20231231 [79.113 sec]
======================================== 20240101 -> 20240331 ========================================
20231231 [73.766 sec]
20240101 [80.197 sec]
20240102 [92.732 sec]
20240103 [85.595 sec]
20240104 [81.872 sec]
20240105 [101.737 sec]
20240106 [100.103 sec]
20240107 [83.488 sec]
20240108 [87.587 sec]
20240109 [95.402 sec]
20240110 [100.428 sec]
20240111 [103.531 sec]
20240112 [88.354 sec]
20240113 [89.838 sec]
20240114 [74.768 sec]
20240115 [103.661 sec]
20240116 [98.622 sec]
20240117 [109.976 sec]
20240118 [109.515 sec]
20240119 [110.675 sec]
20240120 [89.123 sec]
20240121 [88.113 sec]
20240122 [103.554 sec]
20240123 [94.117 sec]
20240124 [93.680 sec]
20240125 [83.373 sec]
20240126 [84.496 sec]
20240127 [70.390 sec]
20240128 [65.256 sec]
20240129 [75.580 sec]
20240130 [82.038 sec]
20240131 [74.210 sec]
20240201 [75.933 sec]
20240202 [77.210 sec]
20240203 [75.291 sec]
20240204 [80.643 sec]
20240205 [83.628 sec]
20240206 [87.057 sec]
20240207 [72.743 sec]
20240208 [76.457 sec]
20240209 [84.104 sec]
20240210 [80.441 sec]
20240211 [74.149 sec]
20240212 [75.184 sec]
20240213 [86.337 sec]
20240214 [79.906 sec]
20240215 [73.395 sec]
20240216 [72.507 sec]
20240217 [67.151 sec]
20240218 [60.253 sec]
20240219 [70.743 sec]
20240220 [73.131 sec]
20240221 [63.460 sec]
20240222 [65.608 sec]
20240223 [63.484 sec]
20240224 [73.462 sec]
20240225 [62.693 sec]
20240226 [79.835 sec]
20240227 [73.365 sec]
20240228 [75.725 sec]
20240229 [74.378 sec]
20240301 [69.296 sec]
20240302 [73.442 sec]
20240303 [68.060 sec]
20240304 [69.519 sec]
20240305 [73.154 sec]
20240306 [73.201 sec]
20240307 [80.127 sec]
20240308 [80.472 sec]
20240309 [70.681 sec]
20240310 [60.716 sec]
20240311 [74.492 sec]
20240312 [82.015 sec]
20240313 [79.464 sec]
20240314 [76.635 sec]
20240315 [76.157 sec]
20240316 [55.158 sec]
20240317 [65.547 sec]
20240318 [67.051 sec]
20240319 [62.343 sec]
20240320 [57.642 sec]
20240321 [71.553 sec]
20240322 [62.224 sec]
20240323 [68.682 sec]
20240324 [63.276 sec]
20240325 [69.880 sec]
20240326 [74.313 sec]
20240327 [87.008 sec]
20240328 [82.538 sec]
20240329 [92.970 sec]
20240330 [65.039 sec]
20240331 [66.802 sec]
======================================== 20240401 -> 20240506 ========================================
20240331 [61.181 sec]
20240401 [92.608 sec]
20240402 [92.561 sec]
20240403 [83.129 sec]
20240404 [91.786 sec]
20240405 [82.071 sec]
20240406 [82.657 sec]
20240407 [72.218 sec]
20240408 [91.111 sec]
20240409 [94.077 sec]
20240410 [92.230 sec]
20240411 [83.289 sec]
20240412 [87.935 sec]
20240413 [72.983 sec]
20240414 [85.095 sec]
20240415 [97.638 sec]
20240416 [95.546 sec]
20240417 [99.196 sec]
20240418 [98.639 sec]
20240419 [100.842 sec]
20240420 [90.327 sec]
20240421 [89.129 sec]
20240422 [109.075 sec]
20240423 [105.934 sec]
20240424 [101.054 sec]
20240425 [111.643 sec]
20240426 [97.398 sec]
20240427 [101.211 sec]
20240428 [100.776 sec]
20240429 [107.471 sec]
20240430 [99.979 sec]
20240501 [107.081 sec]
20240502 [125.086 sec]
20240503 [90.402 sec]
20240504 [94.019 sec]
20240505 [108.237 sec]
20240506 [117.220 sec]

In [27]:
!head -n5 "$OUTPUT_FILE"

search_date,start_code,end_code,search
2024-04-01,1040013,1040016,5344.0
2024-04-01,1040016,1040013,5032.0
2024-04-01,1040016,1040020,6154.0
2024-04-01,1040020,1040016,4996.0

In [28]:
!tail -n5 "$OUTPUT_FILE"

2024-05-06,1800091,1800096,4120.0
2024-05-06,1800096,1800091,3638.0
2024-05-06,1800096,1800106,4069.0
2024-05-06,1800106,1800096,3621.0
2024-05-06,1800106,1800111,4021.0

# 好きなように期間を分割する

期間のとり方
- 2021/04/01 〜 2022/03/31
- 2022/04/01 〜 2023/03/31
- 2023/04/01 〜 2023/09/30
- 2023/10/01 ~ 2024/03/31（推論補助用）
- 2024/04/01 ~ 2024/05/06（最終評価用）

## 時間指定あり

In [31]:
dtype = {'start_code': 'category', 'end_code': 'category'}

# 時間指定あり
# df1 = pd.read_csv(f'./search_count/search-count_specified_20231001-20231231.csv', dtype=dtype)
# df2 = pd.read_csv(f'./search_count/search-count_specified_20240101-20240331.csv', dtype=dtype)

# df1.passing_time = pd.to_datetime(df1.passing_time)
# df2.passing_time = pd.to_datetime(df2.passing_time)

# 時間指定なし
df1 = pd.read_csv(f'./search_count/search-count_unspecified_20231001-20231231.csv', dtype=dtype)
df2 = pd.read_csv(f'./search_count/search-count_unspecified_20240101-20240331.csv', dtype=dtype)

In [32]:
df1.head(3)

  search_date start_code end_code  search
0  2023-10-01    1040013  1040016  9381.0
1  2023-10-01    1040016  1040013  8807.0
2  2023-10-01    1040016  1040020  9988.0

In [33]:
df1.tail(3)

     search_date start_code end_code  search
7357  2023-12-31    1800096  1800106  2938.0
7358  2023-12-31    1800106  1800096  1692.0
7359  2023-12-31    1800106  1800111  2890.0

In [34]:
df2.head(3)

  search_date start_code end_code  search
0  2024-01-01    1040013  1040016  4997.0
1  2024-01-01    1040016  1040013  4824.0
2  2024-01-01    1040016  1040020  5703.0

In [35]:
df2.tail(3)

     search_date start_code end_code  search
7277  2024-03-31    1800096  1800106  3200.0
7278  2024-03-31    1800106  1800096  2148.0
7279  2024-03-31    1800106  1800111  3148.0

In [36]:
# 2つのデータフレームを1つに結合する
df_new = pd.concat([df1, df2], axis=0)

In [37]:
df_new.head()

  search_date start_code end_code  search
0  2023-10-01    1040013  1040016  9381.0
1  2023-10-01    1040016  1040013  8807.0
2  2023-10-01    1040016  1040020  9988.0
3  2023-10-01    1040020  1040016  8649.0
4  2023-10-01    1040020  1040023  9991.0

In [38]:
df_new.tail()

     search_date start_code end_code  search
7275  2024-03-31    1800091  1800096  3214.0
7276  2024-03-31    1800096  1800091  2140.0
7277  2024-03-31    1800096  1800106  3200.0
7278  2024-03-31    1800106  1800096  2148.0
7279  2024-03-31    1800106  1800111  3148.0

In [45]:
# ソート（時間指定あり）
# df_new = df_new.sort_values(
#     ['start_code', 'end_code', 'passing_time']
# ).reset_index(drop=True)

# ソート（時間指定なし）
df_new = df_new.sort_values(
    ['search_date', 'start_code', 'end_code']
).reset_index(drop=True)

In [46]:
# データフレーム長が一致することを検証
assert len(df1) + len(df2) == len(df_new)

In [47]:
# 時間指定あり
# file_out = f'./search_count/search-count_specified_20231001-20240331.csv'

# 時間指定なし
file_out = f'./search_count/search-count_unspecified_20231001-20240331.csv'

In [48]:
%time df_new.to_csv(file_out, index=False)

CPU times: user 45.6 ms, sys: 7.37 ms, total: 52.9 ms
Wall time: 51.8 ms